*{
    margin: 0;
    padding: 0;
}
.navbar{
display: flex;
background-color: #218c74;
height: 50px;
align-items: end;
}
.selection{
    width: 50px;
    padding: 10px;
    color: white;
    text-align: center;
}
.active{
    background-color: #ecf0f1;
    color: #218c74;
}

.info{
    background-color: #ecf0f1;
    display: flex;
    padding-bottom: 10px;
}
.formula{
    width: 500px;
}
.info>img{
    width: 20px;
    margin-left:16px ;
}
.for-box{
background-color: white;
width: 87vw;
margin-left: 16px;
align-content: center;
padding: 2px;
}

#cell-name{
    background-color: white;
    width: 80px;
    text-align: center;
    margin-left: 20px;
    padding: 3px;
}

#options{
    background-color:#ecf0f1;
    height: 55px;
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 20px;
}
#options>div,.font-color{
  
    padding: 7px;
    cursor: pointer;
    transition: 0.5s;
}
#options>div:hover{
   background-color:#d0d8e0 ;
}
.font-color:hover{
   background-color:#d0d8e0 ;
}

img{
    width: 16px;
}
#header{
    display: flex;
    position: sticky;
    top: 0px;
    z-index: 2000;
    

}
#header>b{
    min-width: 100px;
    border: 1px solid #dfe4e9;
    text-align: center;
    padding: 10px 0px;
    top: 0;
    background-color: #ecf0f1;
}
.no_head{
    min-width: 50px;
    padding: 10px 0;
    border: 1px solid #dfe4e9;
    background-color: gray;
    position: sticky;
    left: 0px;
}
.sl-no{
    min-width: 50px;
    padding: 10px 0;
    border: 1px solid #dfe4e9;
    background-color: #ecf0f1;
}


.row{
    display: flex;
}
.row>div{
    min-width: 100px;
    padding: 10px 0;
    border: 1px solid #dfe4e9;
}

.row>b:first-child{
    text-align:center;
    position: sticky;

}
.all-body{
    overflow-y: scroll;
    height: 69vh;
    width: 100vw;  
}
#sl_container{
position: sticky;
left: 0px;
text-align: center;

}
.cell_container{
    display: flex;
}
.active-option{
    background-color: #d0d8e0;
}
#color-picker,#cell-color{
    width: 0;
    height: 0;
}
#add_sheet_container{
    display: flex;
    justify-content:start;
    align-items: center;
    padding: 4px;

}
#addSheet_btn>img{
width: 22px;
}
#addSheet_btn{
    cursor: pointer;
    padding:2px 1px 1px 4px;
}
#addSheet_btn:hover{
    background-color:#d0d8e0 ;
}
.sheet{ 
    margin-left: 5px;
    padding: 3px 20px 10px 20px;
}
.sheet>span{
font-weight: 700;
font-size: 14px;
border-bottom: 4px solid black;
}